<table width="176" border="0" cellspacing="0" cellpadding="0">
  <tr>
   <td><a href="/about/" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('menu-about','','/images/menu-about-over.jpg',1);"><img name="menu-about" src="/images/menu-about.jpg" width="176" height="43" border="0" alt="About MedTech"></a></td>
  </tr>
  <tr>
   <td><a href="/products/" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('menu-products','','/images/menu-products-over.jpg',1);"><img name="menu-products" src="/images/menu-products.jpg" width="176" height="43" border="0" alt="Products"></a></td>
  </tr>
  <tr>
   <td><a href="/distributors/" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('menu-distributors','','/images/menu-distributors-over.jpg',1);"><img name="menu-distributors" src="/images/menu-distributors.jpg" width="176" height="43" border="0" alt="Distributors"></a></td>
  </tr>
  <tr>
   <td><a href="/mission/" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('menu-mission','','/images/menu-mission-over.jpg',1);"><img name="menu-mission" src="/images/menu-mission.jpg" width="176" height="40" border="0" alt="Mission Statement"></a></td>
  </tr>
  <tr>
   <td><a href="/contact/" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('menu-contact','','/images/menu-contact-over.jpg',1);"><img name="menu-contact" src="/images/menu-contact.jpg" width="176" height="40" border="0" alt="Contact Us"></a></td>
  </tr>
  <tr>
   <td><a href="/" onMouseOut="MM_swapImgRestore();" onMouseOver="MM_swapImage('menu-home','','/images/menu-home-over.jpg',1);"><img name="menu-home" src="/images/menu-home.jpg" width="176" height="49" border="0" alt="Home"></a></td>
  </tr>
</table>
