---
layout: product
title: MT80011 Vacuum Spine Board (VSB) 6ft
headline_text: MT80011 Vacuum Spine Board (VSB) 6ft</b> - Six Handles with ribs<b>
product: vsb-6

weight: 	13lbs (6kg)
width:  	33&quot; (84cm)
length: 	75&quot; (190cm)
thickness: 	2&quot; (5cm)
case: 		MT51213
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
{% include click_for_larger %}	
<tr>
	{% include product_image align="left" src="VSB-006.jpg" %}
	{% include product_image align="center" src="VSB-014.jpg" %}
	{% include product_image align="center" src="VSB-016.jpg" %}
	{% include product_image align="right" src="VSB-017.jpg" %}
</tr>
</table>

	
<br><br>
<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">

<p>The Vacuum Spine Board offers quick, comfortable, and easy full body immobilization for suspected spine, pelvic, or hip fractures and multiple-fracture patients. The Vacuum Spine Board offers exceptional water rescue properties and can aid in hypothermia prevention.</p>

<p>A specially designed pelvic strap system easy adjusts to the right level over the pelvic area with unique "click on" fasteners. A valve adapter is supplied for using portable suction units. This product is both MRI compatible and X-Ray translucent.</p>

<p>The Vacuum Spine Board is available in 5 ft, 6 ft and 7 ft sizes and folds to a compact size when not in use. A carrying case is supplied for easy storage. All straps and lifting handles are color-coded comfortable, and easy to remove, clean or replace. The standard ½" (1.27 cm) US/Europe 2-piece valve is easy to operate with heavy gloves on and easy to clean or replace.</p>

<p>A multi-chamber system with 21 different size chambers allows the beads to stay in place, even in a vertical application.</p> 

<p>This product is covered by a lifetime guarantee - with the exception of the replacement parts which are covered by a one year warranty.</p>

	</td>
</tr>
</table><br><br>
	

{% include product_details %}


