---
layout: product
title: Disposable Low Budget Extremity Vacuum Splints (LBEVS)
headline_text: Disposable Low Budget Extremity Vacuum Splints (LBEVS)
product: lbevs
case: MT51413
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
	{% include click_for_larger %}
	<tr>
	{% include product_image align="left" src="LBEVS-001.jpg" %}
	{% include product_image align="center" src="LBEVS-002.jpg" %}
	{% include product_image align="center" src="LBEVS-003.jpg" %}
	{% include product_image align="right" src="LBEVS.jpg" %}
	</tr>

	<tr> 
		<td colspan="4" align="left" valign="middle" class="product">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" valign="top" class="product">PU30003</td>
		<td align="center" valign="top" class="product">PU30002</td>
		<td align="center" valign="top" class="product">PU30001</td>
		<td align="center" valign="top" class="product">&nbsp;</td>
	</tr>
</table>

<br><br>

<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">

<p>These extremity vacuum splints are constructed from a high quality puncture resistant, MRI compatible /X-Ray translucent polyurethane material which is able keep a vacuum for 24 hours. 

<p><b>Easy to apply:</b> 

<p>Place the desired extremity vacuum splint on a flat surface; distribute the beads evenly over the extremity splint. 

<p>Apply the small hand vacuum pump, open the valve, and pump out some air, making the splints stiffer to prevent the beads from shifting when applying to the extremity. 

<p>Close the valve; disconnect the vacuum pump and apply the splint to the extremity. 

<p>Form the splint around the extremity and use medical tape to close it, connect the vacuum pump, open the valve and withdraw the air fully. Close the valve and readjust with some more tape, if necessary. 

<p>The disposable extremity vacuum splints folds to a compact size when not in use. A set is available with a small hand-operated vacuum pump, suction-adapter for portable suction units and a carrying case for easy storage.

	</td>
</tr>
</table><br><br>


<table width="520" border="0" cellspacing="0" cellpadding="0" align="center" class="table">
  <tr> 
    <td align="left" valign="middle" class="product">&nbsp;</td>
    <td align="left" valign="middle" class="product"><strong>PU30001<br>Wrist/Ankle</strong></td>
    <td align="left" valign="middle" class="product"><strong>PU30002<br>Arm</strong></td>
    <td align="left" valign="middle" class="product"><strong>PU30003<br>Leg</strong></td>
  </tr>
  <tr bgcolor="#eeeeee"> 
    <td align="left" valign="middle" class="product"><strong>Weight</strong></td>
    <td align="left" valign="middle" class="product">0.6lbs (0.25kg)</td>
    <td align="left" valign="middle" class="product">0.5lbs (0.45kg)</td>
    <td align="left" valign="middle" class="product">1.2lbs (0.55kg)</td>
  </tr>
  <tr> 
    <td align="left" valign="middle" class="product"><strong>Length</strong></td>
    <td align="left" valign="middle" class="product">22½&quot; (57cm)</td>
    <td align="left" valign="middle" class="product">27&quot; (68cm)</td>
    <td align="left" valign="middle" class="product">36&quot; (92cm)</td>
  </tr>
  <tr bgcolor="#eeeeee"> 
    <td align="left" valign="middle" class="product"><strong>Width (Base)</strong></td>
    <td align="left" valign="middle" class="product">18&quot; (46cm)</td>
    <td align="left" valign="middle" class="product">19&quot; (48cm)</td>
    <td align="left" valign="middle" class="product">23&quot; (58cm)</td>
  </tr>
  <tr> 
    <td align="left" valign="middle" class="product"><strong>Width (Top)</strong></td>
    <td align="left" valign="middle" class="product">17&quot; (43cm)</td>
    <td align="left" valign="middle" class="product">14&quot; (36cm)</td>
    <td align="left" valign="middle" class="product">17&quot; (43cm)</td>
  </tr>
  <tr bgcolor="#eeeeee"> 
    <td align="left" valign="middle" class="product"><strong>Thickness</strong></td>
    <td align="left" valign="middle" class="product">½&quot; (1.3cm)</td>
    <td align="left" valign="middle" class="product">½&quot; (1.3cm)</td>
    <td align="left" valign="middle" class="product">1&quot; (2.5cm)</td>
  </tr>
</table>

<br><br>

{% include case %}


