---
layout: product
title: MT81011 Vacuum Extrication Vest (VEV)
headline_text: MT81011 Vacuum Extrication Vest (VEV)
product: vev

weight: 	5lbs (2.2kg)
width:  	28&quot; (72cm)
length: 	37&quot; (94cm)
thickness: 	¾&quot; (2cm)
case: 		MT51413 
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
{% include click_for_larger %}
<tr>
	{% include product_image align="center" src="VSI-laying.jpg" %}
	{% include product_image align="left" %}
	{% include product_image align="center" src="VSI-Rossman.jpg" %}
	{% include product_image align="right" %}
</tr>
</table>


<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">
	
A lightweight, compact and easy to apply Vacuum Extrication Vest with 14 different size chambers inside allowing the beads to stay in place, even in a vertical application. The Vacuum Extrication Vest conforms to the body in most positions without placing pressure ensuring comfort and support for the patient. The Vacuum Extrication Vest can also aid in hypothermia prevention.

All straps and buckles are color-coded for easier application. All straps and lifting handles are comfortable, easy to remove, clean or replace. Leg straps do not cause the discomfort in the groin as they are folded under and around the leg, pulling the straps downward to prevent the Vacuum Extrication Vest from sliding up, this is especially useful for heavier patients.

The standard ½ inch (1.27 cm) US/Europe 2-piece valve is easy to operate with heavy gloves on and is very easy to clean or replace.

The Vacuum Extrication Vest compacts to a small size when not in use, and comes with a carrying case for easy storage. The Vacuum Extrication Vest is MRI compatible and X-Ray translucent.

This product is covered by a lifetime guarantee - with the exception of replacement parts which are covered by a one year warranty. 

</td>
</tr>
</table>

<br><br>

{% include product_details %}

