---
layout: product
title: MT82011 Vacuum Head Immobilizer (VHI)
headline_text: MT82011 Vacuum Head Immobilizer (VHI)
product: vhi

permalink: /vhi.php/index.html
redirect: /products/vhi/
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
{% include click_for_larger %}	
<tr>
	{% include product_image align="left" src="DVC01280.jpg" %}
	{% include product_image align="center" src="Show-Pictures-120.jpg" %}
	{% include product_image align="center" src="VHI-laying-down.jpg" %}
	{% include product_image align="right" src="VHI-sitting.jpg" %}
</tr>
</table>

<br><br>

<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">
<p>This Vacuum Head Immobilizer (VHI) will immobilize the head in  a very
snug-tight and secure way, with out any pressure. The Vacuum Head Immobilizer will 
fit all sizes of head and necks, and may also be fastened on to a regular spine board.</p>

<p>Ask us about the disposable VHI.</p>
	</td>
</tr>

</table>




