---
layout: product
title: Carrying Cases
headline_text: Carrying Cases
product: case

permalink: /cases.php/index.html
redirect: /products/carrying-cases/
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
	{% include click_for_larger %}
	<tr>
	{% include product_image align="left" src="MT51013.jpg" %}
	{% include product_image align="right" src="MT51013b.jpg" %}
	{% include product_image align="center" src="MT51213.jpg" %}
	{% include product_image align="center" src="MT51413.jpg" %}
	</tr>
</table>

<table width="520" border="0" cellspacing="0" cellpadding="0" align="center" class="table">
	<tr> 
		<td align="left" valign="middle" class="product">&nbsp;</td>
		<td align="left" valign="middle" class="product"><strong>MT51013</strong><br>For VSB (5ft)</td>
		<td align="left" valign="middle" class="product"><strong>MT51113</strong><br>For VSB (5ft)</td>
		<td align="left" valign="middle" class="product"><strong>MT51213</strong><br>For VSB (6ft & 7ft)</td>
		<td align="left" valign="middle" class="product"><strong>MT51413</strong><br>For LBEVS, Deluxe&nbsp;LBEVS,<br>VSI & PVSB</td>
	</tr>
	<tr bgcolor="#eeeeee"> 
		<td align="left" valign="middle" class="product"><strong>Height</strong></td>
		<td align="left" valign="middle" class="product">18&quot; (46cm)</td>
		<td align="left" valign="middle" class="product">18&quot; (46cm)</td>
		<td align="left" valign="middle" class="product">18&quot; (46cm)</td>
		<td align="left" valign="middle" class="product">16&quot; (41cm)</td>
	</tr>
	<tr> 
		<td align="left" valign="middle" class="product"><strong>Length</strong></td>
		<td align="left" valign="middle" class="product">19&quot; (48cm)</td>
		<td align="left" valign="middle" class="product">19&quot; (48cm)</td>
		<td align="left" valign="middle" class="product">20&quot; (51cm)</td>
		<td align="left" valign="middle" class="product">19&quot; (48cm)</td>
	</tr>
	<tr bgcolor="#eeeeee"> 
		<td align="left" valign="middle" class="product"><strong>Width</strong></td>
		<td align="left" valign="middle" class="product">8&quot; (20cm)</td>
		<td align="left" valign="middle" class="product">8&quot; (20cm)</td>
		<td align="left" valign="middle" class="product">10&quot; (25cm)</td>
		<td align="left" valign="middle" class="product">5&quot; (13cm)</td>
	</tr>
</table>


