---
layout: product
title: MT80111 Vacuum Spine Board (VSB) 5ft
headline_text: MT80111 Vacuum Spine Board (VSB) 5ft</b> - Four Handles with ribs<b>
product: vsb-5

weight: 	9lbs (4kg)
width:  	27&quot; (68cm)
length: 	62&quot; (158cm)
thickness: 	1¼&quot; (3cm)
case: 		MT51013 
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
{% include click_for_larger %}
<tr>
	{% include product_image align="left" src="VSB-014.jpg" %}
	{% include product_image align="center" src="VSB-004.jpg" %}
	{% include product_image align="center" src="VSB-005.jpg" %}
	{% include product_image align="right" %}
</tr>
</table>

<br><br>

<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">

<p>The Vacuum Spine Board offers quick, comfortable, and easy full body immobilization for suspected spine, pelvic, or hip fractures and multiple-fracture patients. The Vacuum Spine Board offers exceptional water rescue properties and can aid in hypothermia prevention.</p>

<p>A specially designed pelvic strap system easy adjusts to the right level over the pelvic area with unique "click on" fasteners. A valve adapter is supplied for using portable suction units. This product is both MRI compatible and X-Ray translucent.</p>

<p>The Vacuum Spine Board is available in 5 ft, 6 ft and 7 ft sizes and folds to a compact size when not in use. A carrying case is supplied for easy storage. All straps and lifting handles are color-coded comfortable, and easy to remove, clean or replace. The standard ½" (1.27 cm) US/Europe 2-piece valve is easy to operate with heavy gloves on and easy to clean or replace.</p>

<p>A multi-chamber system with 18 different size chambers allows the beads to stay in place, even in a vertical application. </p>

<p>This product is covered by a lifetime guarantee - with the exception of the replacement parts which are covered by a one year warranty.</p>

	</td>
</tr>
</table><br><br>

{% include product_details %}


