---
layout: product
title: MT80211 Pediatric VSB
headline_text: MT80211 Pediatric VSB</b> - Four Handles with no ribs<b>
product: vsb-pediatric

weight: 	5.8lbs (2.6 kg)
width:  	22&quot; (56cm)
length: 	49&quot; (125cm)
thickness: 	1¼&quot; (3cm)
case: 		MT51413 
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
{% include click_for_larger %}
<tr>
	{% include product_image align="left" src="vsb-003.jpg" %}
	{% include product_image align="center" src="vsb-pediatric.jpg" %}
	{% include product_image align="center" src="pediatric-003.jpg" %}
	{% include product_image align="right" %}
</tr>
</table>

<br><br>
<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">
	
The Pediatric Vacuum Spine Board offers quick and easy immobilization without placing undue pressure for small patients (up to 85 lbs/38kg). A full length measuring guide is printed onto the product to make the calculation of medication dosages quicker and easier. This product can also aid in hypothermia prevention.

The Pediatric Vacuum Spine Board folds to a compact size when not in use, and comes with a carrying case for easy storage. All straps and lifting handles are colour-coded comfortable, easy to remove, clean or replace. The standard ½" (1.27cm) US/Europe 2-piece valve is easy to operate with heavy gloves on and is easy to clean or replace. A Multi-Chamber System with seventeen different size chambers allows the beads to stay in place, even in a vertical application.

The features the specially-designed Pelvic Strap System which is easy to adjust to the right level over the pelvic area with unique "click on" fasteners. A valve adapter is supplied for using portable suction units. This product is both MRI compatible and X-Ray translucent.
	

This product is covered by a lifetime guarantee - with the exception of replacement parts which are covered by a one year warranty.
	
	</td>
</tr>
</table><br><br>

{% include product_details %}

