---
layout: product
title: MT80311 Royal Vacuum Spine Board (RVSB) 7ft
headline_text: MT80311 Royal Vacuum Spine Board (RVSB) 7ft</b> - Eight Handles with ribs<b>
product: vsb-royal

weight: 	19lbs (8.5kg)
width:  	36&quot; (92cm)
length: 	84&quot; (214cm)
thickness: 	2¼&quot; (6cm)
case: 		MT51213
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
{% include click_for_larger %}	
<tr>
	{% include product_image align="left" src="VSB-Royal-001.jpg" %}
	{% include product_image align="center" src="VSB-Royal-002.jpg" %}
	{% include product_image align="center" src="VSB-Royal-003.jpg" %}
	{% include product_image align="right" %}
</tr>
</table>

<br><br>
<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">

<p>The Vacuum Spine Board offers quick, comfortable, and easy full-body immobilisation for suspected spine, pelvic, or hip fractures and multiple-fracture patients.The Vacuum Spine Board offers exceptional water rescue properties and can aid in hypothermia prevention.</p>

<p>A specially designed Pelvic Strap System easily adjusts to the right level over the pelvic area with unique "click on" fasteners. A valve adapter is supplied for using portable suction units. This product is both MRI compatible and X-Ray translucent.</p>

<p>The Vacuum Spine Board is available in 5ft, 6ft and 7ft sizes and folds to a compact size when not in use. A carrying case is supplied for easy storage. All straps and lifting handles are colour-coded comfortable, easy to remove, clean or replace. The standard ½" (1.27cm) US/Europe 2-piece valve is easy to operate with heavy gloves on and are easy to clean or replace.</p>

<p>A Multi-Chamber System with 22 different size chambers allows the beads to stay in place, even in a vertical application.</p>

<p>This product is covered by a lifetime guarantee.</p>
	</td>
</tr>
</table><br><br>

{% include product_details %}

