<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		{% include redirect/head.html %}
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Med Tech Sweden, Inc.</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS 
        <link rel="stylesheet" href="/css/syntax.css">-->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
		
		<!-- IMPORTED -->
		<script src="/js/main.js" type="text/javascript"></script>
    
    	{% include google_analytics.html %}
    
    </head>

	<body background="/images/back.gif" bgcolor="#FFFFFF" leftmargin="0" topmargin="0" rightmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('/images/layout/default/medtech_r3_c1_f2.jpg','/images/layout/default/medtech_r4_c1_f2.jpg','/images/layout/default/medtech_r5_c1_f2.jpg','/images/layout/default/medtech_r6_c1_f2.jpg','/images/layout/default/medtech_r7_c1_f2.jpg');">
		<center><table border="0" cellpadding="0" cellspacing="0" width="740">
		  <tr>
		   <td colspan="2"><img name="medtech_r1_c1" src="/images/layout/default/medtech_r1_c1.jpg" width="740" height="7" border="0" alt=""></td>
		  </tr>
		  <tr>
		   <td><img name="medtech_r2_c1" src="/images/layout/default/medtech_r2_c1.jpg" width="176" height="152" border="0" alt=""></td>
		   <td><img name="medtech_r2_c2" src="/images/layout/default/medtech_r2_c2.jpg" width="564" height="152" border="0" alt="Med Tech Sweden, Inc. Vacuum splint technology by Swedish design, made in the USA."></td>
		  </tr>
		  <tr>
		   <td width="740" colspan="2" align="left" valign="top" background="/images/layout/default/medtech_r8_c1.jpg">
		
		<table width="740" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="176" align="left" valign="top">{% include nav.html %}</td>
		<td width="10"><img src="/images/clear.gif" width="10" height="1" alt="" border="0"></td>
			<td width="544" align="left" valign="top">
		
		{% if page.header_text %}
			<div align="right" class="header">{{ page.header_text }}</div>
		{% endif %}
		
		<br>
		
		<!-- BEGIN CONTENT -->
		{% include redirect/body.html %}
		{{ content }}
		<!-- END CONTENT -->
		
		{% if page.show_slideshow %}
			<br><br>
			<center>
				{% include slideshow %}
			</center>
		{% endif %}
		
		<br><br></td>
		<td width="10"><img src="/images/clear.gif" width="15" height="1" alt="" border="0"></td>
		</tr>
		</table></td>
		  </tr>
		  <tr>
		   <td><img name="medtech_r9_c1" src="/images/layout/default/medtech_r9_c1.jpg" width="176" height="192" border="0" alt=""></td>
		   <td><img name="medtech_r9_c2" src="/images/layout/default/medtech_r9_c2.jpg" width="564" height="192" border="0" alt=""></td>
		  </tr>
		</table>
		
		<table width="760" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="760" align="center" valign="top" class="foot"><br>&copy; Copyright 2004-2014 Med Tech Sweden, Inc. | All Rights Reserved</td>
		</tr>
		</table>
		</center>
	
	</body>
</html>

