---
layout: product
title: Deluxe Low Budget Extremity Splints (Deluxe LBEVS)
headline_text: Deluxe Low Budget Extremity Splints (Deluxe LBEVS)
product: lbevs-deluxe
case: MT51413
---
<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
	{% include click_for_larger %}
	<tr>
	{% include product_image align="left" src="lbevs.jpg" %}
	{% include product_image align="right" src="LBES013.jpg" %}
	{% include product_image align="center" src="LBES010.jpg" %}
	{% include product_image align="center" src="LBES007.jpg" %}
</tr>

<tr> 
	<td colspan="4" align="left" valign="middle" class="product">&nbsp;</td>
</tr>
<tr>
	<td align="center" valign="top" class="product">&nbsp;</td>
	<td align="center" valign="top" class="product">DL20001</td>
	<td align="center" valign="top" class="product">DL20002</td>
	<td align="center" valign="top" class="product">DL20003</td>
</tr>
</table>


<table width="520" border="0" cellspacing="0" cellpadding="0" align="center" class="table">
  <tr> 
    <td align="left" valign="middle" class="product">&nbsp;</td>
    <td align="left" valign="middle" class="product"><strong>DL20001<br>Wrist/Ankle</strong></td>
    <td align="left" valign="middle" class="product"><strong>DL20002<br>Arm</strong></td>
    <td align="left" valign="middle" class="product"><strong>DL20003<br>Leg</strong></td>
  </tr>
  <tr bgcolor="#eeeeee"> 
    <td align="left" valign="middle" class="product"><strong>Weight</strong></td>
    <td align="left" valign="middle" class="product">0.6lbs (0.25kg)</td>
    <td align="left" valign="middle" class="product">0.5lbs (0.45kg)</td>
    <td align="left" valign="middle" class="product">1.2lbs (0.55kg)</td>
  </tr>
  <tr> 
    <td align="left" valign="middle" class="product"><strong>Length</strong></td>
    <td align="left" valign="middle" class="product">22½&quot; (57cm)</td>
    <td align="left" valign="middle" class="product">27&quot; (68cm)</td>
    <td align="left" valign="middle" class="product">36&quot; (92cm)</td>
  </tr>
  <tr bgcolor="#eeeeee"> 
    <td align="left" valign="middle" class="product"><strong>Width (Base)</strong></td>
    <td align="left" valign="middle" class="product">18&quot; (46cm)</td>
    <td align="left" valign="middle" class="product">19&quot; (48cm)</td>
    <td align="left" valign="middle" class="product">23&quot; (58cm)</td>
  </tr>
  <tr> 
    <td align="left" valign="middle" class="product"><strong>Width (Top)</strong></td>
    <td align="left" valign="middle" class="product">17&quot; (43cm)</td>
    <td align="left" valign="middle" class="product">14&quot; (36cm)</td>
    <td align="left" valign="middle" class="product">17&quot; (43cm)</td>
  </tr>
  <tr bgcolor="#eeeeee"> 
    <td align="left" valign="middle" class="product"><strong>Thickness</strong></td>
    <td align="left" valign="middle" class="product">½&quot; (1.3cm)</td>
    <td align="left" valign="middle" class="product">½&quot; (1.3cm)</td>
    <td align="left" valign="middle" class="product">1&quot; (2.5cm)</td>
  </tr>
</table>

<br><br>
<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="100%" align="left" valign="top" class="text">

<p>A lightweight specially designed extremity vacuum splint system comprising a multi-chamber system with five, eight, and eleven different size chambers inside allowing the beads to stay in place, even with a vertical application.

<p>Deluxe LBEVS conforms to the extremities in the position found with no pressure and are fast and easy to apply. They feature the hook and loop strap closure for easier application to the extremities.

<p>The leg and arm splint can be used as a full body vacuum spine board for infants ans small babies.

<p>The standard ½ inch (1.27 cm) US/Europe 2-piece valve is easy to operate with heavy gloves on and is very easy to clean or replace.

<p>Deluxe LBEVS are guaranteed to hold a vacuum for 24 hours. The extremity vacuum splints compact to a small size when not in use, and come with a small hand operated vacuum pump, suction adapter for portable suction units and a carrying base for easy storage.

<p>Longevity: 2-5 years user time. One year guarantee. MRI compatible and X-Ray translucent.

<p>A set is available with a hand operated vacuum pump, suction adapter for portable suction units and a carrying base for easy storage.

	</td>
</tr>
</table><br><br>

{% include case %}

